.container {
  background-color: grey;
}
ul {
  display: flex;
  flex-direction: row;
}
li > * {
  font-size: 30px;
  text-decoration: none;
  color: black;
}

li {
  margin: 2%;
}

li:hover {
  background-color: yellow;
}

li > *:hover {
  color: white;
}
